.contentContainer {
  color: #f8f8f8;
  margin: 0 auto;

  align-items: center;
  justify-content: space-between;
}

.postContainer {
  font-family: "Inter", sans-serif;
  margin-bottom: 3rem;

  a {
    strong {
      font-size: 1.75rem;
      font-family: Inter;
      font-style: normal;
      font-weight: 700;
      line-height: 2.125rem;
    }

    & > p {
      margin: 0.5rem 0 0.5rem 0;
      font-size: 1.125rem;
      color: #d7d7d7;
      font-weight: 400;
    }

    time {
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      color: #bbbbbb;
      font-weight: 400;
      display: flex;
      align-items: center;

      & > p {
        margin: 1rem;
        display: flex;
        align-items: center;
      }
    }
  }
}

.postContainer:last-of-type {
  margin: 0 !important;
}

.icons {
  margin-right: 0.5rem;
}

.loadMore {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 2.3rem auto 2.875rem auto;
  color: #ff57b2;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.exitPreview {
  width: 43rem;
  height: 3.5rem;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  line-height: 3.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 5rem auto;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }

  a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #1a1d23;
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 2rem;
}
